
/* Style for the form container */
.form-container {
  background-color: #92569f5f;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

/* Style for  form  */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the label of the input */
label {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Style for the input  */
input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the button */
button {
  font-family: "Pacifico", cursive;
  padding: 10px 20px;
  background-color: #491150;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Style for the button when hovered over */
button:hover {
  background-color: #893d7f;
  transform: translateY(-2px);
}

/* Style for the button when is clicked */
button:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style for normal text */
.normal-text {
  color: #e9e7f1;
}
